---
import Layout from "../../../layouts/Layout.astro";
import slug from "slug";
import type { PersonnesResponse } from "../../../pocketbase-types";
import {
  PersonnesNationaliteOptions,
  PersonnesProfessionOptions,
} from "../../../pocketbase-types";

const { id } = Astro.params;
let message = null;

let personne = {} as PersonnesResponse;
if (id) {
  personne = await Astro.locals.pb.collection("personnes").getOne(id);
}

const photoUrl = personne.photo
  ? Astro.locals.pb.files.getURL(personne, personne.photo)
  : null;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const personneCree = await (
    id
      ? Astro.locals.pb.collection("personnes").update(id!, data)
      : Astro.locals.pb.collection("personnes").create(data)
  ).catch((err) => {
    console.error("Erreur de sauvegarde de la personne : ", err);
    message = err.message;
    console.log("Message d'erreur :", message);
  });
  if (personneCree) {
    return Astro.redirect(
      `/personnes/${personneCree.id}-${slug(personneCree.nom)}`,
    );
  }
}
---

<Layout>
  <div class="max-w-2xl mx-auto mt-32">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h1 class="card-title text-3xl font-bold mb-6">
          {id ? "Modifier une personne" : "Ajouter une personne"}
        </h1>
        {message && <div class="alert alert-error mb-4">{message}</div>}
        <form method="post" enctype="multipart/form-data" class="space-y-6">
          {id && <input type="hidden" name="id" value={id} />}
          <input
            type="hidden"
            name="user"
            value={Astro.locals.pb.authStore.record?.id}
          />

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Nom :</span>
            </label>
            <input
              type="text"
              name="nom"
              value={personne.nom || ""}
              class="input input-bordered w-full"
              required
            />
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Prénom :</span>
            </label>
            <input
              type="text"
              name="prenom"
              value={personne.prenom || ""}
              class="input input-bordered w-full"
              required
            />
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Date de naissance :</span>
            </label>
            <input
              type="date"
              name="date_de_naissance"
              value={personne.date_de_naissance
                ? new Date(personne.date_de_naissance)
                    .toISOString()
                    .split("T")[0]
                : ""}
              class="input input-bordered w-full"
            />
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Date de décès :</span>
            </label>
            <input
              type="date"
              name="date_deces"
              value={personne.date_de_deces
                ? new Date(personne.date_de_deces).toISOString().split("T")[0]
                : ""}
              class="input input-bordered w-full"
            />
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Professions :</span>
            </label>
            <div class="grid grid-cols-2 gap-4 mt-2">
              {
                Object.entries(PersonnesProfessionOptions).map(
                  ([key, value]) => (
                    <label class="label cursor-pointer justify-start gap-2">
                      <input
                        type="checkbox"
                        name="profession"
                        value={value}
                        checked={personne.profession?.includes(value)}
                        class="checkbox checkbox-primary"
                      />
                      <span class="label-text">{key}</span>
                    </label>
                  ),
                )
              }
            </div>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Nationalité :</span>
            </label>
            <select name="nationalite" class="select select-bordered w-full">
              <option value="">-- Sélectionnez une nationalité --</option>
              {
                Object.entries(PersonnesNationaliteOptions).map(
                  ([key, value]) => (
                    <option
                      value={value}
                      selected={personne.nationalite === value}
                    >
                      {key}
                    </option>
                  ),
                )
              }
            </select>
          </div>
          <label class="block mb-4">
            <span class="block text-gray-700 mb-2">Photo :</span>
            <input
              type="file"
              name="photo"
              id="photo-input"
              accept="image/*"
              class="file-input file-input-bordered w-full mb-4"
            />
            <div class="flex h-fit items-center justify-between gap-8">
              {
                photoUrl && (
                  <div class="h-120 w-1/2 ">
                    <span class="block text-gray-600 mb-1">
                      Photo actuelle :
                    </span>
                    <img
                      src={photoUrl}
                      alt="Photo de la personne"
                      class="w-full h-full object-cover"
                    />
                  </div>
                )
              }
              <div id="preview-container" class="h-120 w-1/2 hidden">
                <span class="block text-gray-600 mb-1">Nouvelle photo :</span>
                <img
                  id="preview"
                  alt="Prévisualisation"
                  class="w-full h-full object-cover"
                />
              </div>
            </div>
          </label>
          <div class="form-control mt-8">
            <button type="submit" class="btn btn-primary w-full">
              {id ? "Mettre à jour" : "Ajouter"}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const form = document.querySelector("form") as HTMLFormElement;
      const input = document.getElementById("photo-input") as HTMLInputElement;
      const preview = document.getElementById("preview") as HTMLImageElement;
      const container = document.getElementById(
        "preview-container",
      ) as HTMLDivElement;

      if (!input || !preview || !container) return;

      let objectURL = "";

      input.addEventListener("change", () => {
        const file = input.files?.[0];
        if (objectURL) URL.revokeObjectURL(objectURL);

        if (file) {
          objectURL = URL.createObjectURL(file);
          preview.src = objectURL;
          container.classList.remove("hidden");
        } else {
          container.classList.add("hidden");
          objectURL = "";
        }
      });

      form.addEventListener("submit", (e) => {
        if (input.files?.length === 0) {
          input.removeAttribute("name");
        }
      });

      window.addEventListener("unload", () => {
        if (objectURL) URL.revokeObjectURL(objectURL);
      });
    });
  </script>
</Layout>
